<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="bootstrap/css/custom_index.css">

    <title>Poll Request</title>
  </head>
  <body>

  <div class="jumbotron">
	<div class="container">
        <h1><b>Poll Request</b></h1>
          <h2>The Opinion of Tweeters</h2>
          <form action="{{url_for('graph')}}" id="form" action="." method="POST">
            <div class = "inputBox">
              <input type="text" name="key_word" placeholder="" size = "30"><br><br
            </div>
            <p><a class="btn btn-primary btn-lg" type="submit" href="#" role="button">Tweets Say</a> </p>
          </form>
	</div>
  </div>
  </body>
</html>

